                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        <!-- {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %} -->
                        <!-- {% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i></a>{% endif %} -->

                        {% if site.spin %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" rel="noopener noreferrer"><i class="fa fa-fw fa-cog fa-spin"></i></a>{% endif %}
                        {% if site.heartbeat %}<a class="social-btn" href="{{ site.url }}/bodybuilding" rel="noopener noreferrer"><i class="fa fa-fw fa-heartbeat"></i></a>{% endif %}
                        {% if site.car %}<a class="social-btn" href="{{ site.url }}/bodybuilding" rel="noopener noreferrer"><i class="fa fa-fw fa-car"></i></a>{% endif %}
                        {% if site.venus %}<a class="social-btn" href="{{ site.url }}/bodybuilding" rel="noopener noreferrer"><i class="fa fa-venus"></i></a>{% endif %}
                        {% if site.search %}<a class="social-btn" href="{{ site.url }}/post-docs" rel="noopener noreferrer"><i class="fa fa-fw fa-search"></i></a>{% endif %}
                  </h3>
